@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1644840781493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangxia:before {
  content: "\f02a9";
}

.icon-xiangshang:before {
  content: "\f02aa";
}

.icon-tianjia:before {
  content: "\e657";
}

.icon-guanbi:before {
  content: "\e66d";
}

.icon-tuichu:before {
  content: "\e892";
}

.icon-laoshi:before {
  content: "\e646";
}

.icon-tianjia-:before {
  content: "\e607";
}

.icon-xuesheng:before {
  content: "\e613";
}

