<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.AdminMapper">

    <select id="queryAdmin" parameterType="lrs.entity.Admin" resultType="lrs.entity.Admin">
        select admin_name,admin_pwd from admin where admin_name=#{admin_name} and admin_pwd=#{admin_pwd}
    </select>
</mapper>