<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.ChapterMapper">

    <!--用于根据课程id查询所有的章节
        但章节里的视频名字还需要再根据章节id来查询再写入Chapter类的video_names
     -->
    <resultMap id="chapter_map" type="lrs.entity.Chapter">
        <id property="cha_id" column="cha_id"></id>
        <result property="cha_seq" column="cha_seq"></result>
        <result property="cha_name" column="cha_name"></result>
    </resultMap>
    <select id="queryChasByCouId" resultMap="chapter_map">
        select cha_id,cha_seq,cha_name from chapter where cha_id in(
            select cha_id from cou_cha where cou_id=#{cou_id}
        )
    </select>

    <delete id="deleteChaByCouId">
        delete from chapter where cha_id in (
            select cha_id from cou_cha where cou_id =#{cou_id}
        )
    </delete>

    <select id="queryChaIdByCouId" resultType="Integer">
        select cha_id from cou_cha where cou_id=#{cou_id}
    </select>

    <delete id="deleteChaVidByChaIdList" parameterType="java.util.List">
        delete from cha_vid where cha_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insertChapter" parameterType="lrs.entity.Chapter" useGeneratedKeys="true" keyProperty="cha_id" keyColumn="cha_id">
        insert into chapter (cha_seq,cha_name) values (#{cha_seq},#{cha_name})
    </insert>


    <insert id="insertChaVid">
        insert into cha_vid (cha_id,vid_id) values(#{cha_id},#{vid_id})
    </insert>

    <delete id="deleteVidByChaAndVid">
        delete from cha_vid where cha_id=#{cha_id} and vid_id=#{vid_id}
    </delete>

</mapper>