<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.CourseMapper">

    <select id="queryCousByClaId" resultType="lrs.entity.Course">
        select cou_id,cou_name,cou_tea_name,cou_info,cou_hour,cou_cover_path,cou_state from course
        where cou_id in(
          select cou_id from cla_cou where cla_id=#{cla_id}
        )
    </select>

    <select id="queryCouNameById" resultType="String">
        select cou_name from course where cou_id=#{cou_id}
    </select>

    <select id="queryCousByTeaId" resultType="lrs.entity.Course">
        select cou_id,cou_name,cou_tea_name,cou_info,cou_hour,cou_cover_path,cou_state from course
        where cou_id in(
            select cou_id from tea_cou where tea_id=#{tea_id}
        )
    </select>

    <update id="endCourse">
        update course set cou_state=0 where cou_id=#{cou_id}
    </update>

    <update id="activeCourse">
        update course set cou_state=1 where cou_id=#{cou_id}
    </update>

    <delete id="deleteCourse">
        delete from course where cou_id=#{cou_id}
    </delete>

    <delete id="deleteCouChaByCouId">
        delete from cou_cha where cou_id=#{cou_id}
    </delete>
    <delete id="deleteCouMatByCouId">
        delete from cou_mat where cou_id=#{cou_id}
    </delete>

    <select id="queryCouCoverByCouId" resultType="String">
        select cou_cover_path from course where cou_id=#{cou_id}
    </select>

    <insert id="insertCourse" parameterType="lrs.entity.Course" useGeneratedKeys="true" keyColumn="cou_id" keyProperty="cou_id">
        insert into Course (cou_name,cou_tea_name,cou_info,cou_hour,cou_cover_path,cou_state) values
        (#{cou_name},#{cou_tea_name},#{cou_info},#{cou_hour},#{cou_cover_path},#{cou_state})
    </insert>

    <update id="updateCouCoverPathById">
        update course set cou_cover_path=#{cou_cover_path} where cou_id=#{cou_id}
    </update>

    <insert id="insertCouClaByClasAndCouId" parameterType="java.util.HashMap">
        insert into cla_cou (cla_id,cou_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.class_id},#{cou_id})
        </foreach>
    </insert>

    <insert id="insertCouChaByCouIdAndChaId">
        insert into cou_cha (cou_id,cha_id) values (#{cou_id},#{cha_id})
    </insert>

    <delete id="deleteCouMatByCouMat">
        delete from cou_mat where cou_id=#{cou_id} and mat_id=#{mat_id}
    </delete>

    <insert id="insertCouMatByCouIdAndMatId">
        insert into cou_mat (cou_id,mat_id) values(#{cou_id},#{mat_id })
    </insert>

</mapper>