<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.MaterialMapper">
    <select id="queryMatsByCouId" resultType="lrs.entity.Material">
        select mat_id,mat_name,mat_path,mat_size,mat_date from material where mat_id in(
          select mat_id from cou_mat where cou_id=#{cou_id}
        )
    </select>

    <delete id="deleteMatByCouId">
        delete from material where mat_id in(
            select mat_id from cou_mat where cou_id=#{cou_id}
        )
    </delete>

    <select id="queryMatPathByCouId" resultType="String">
        select mat_path from material where mat_id in(
            select mat_id from cou_mat where cou_id=#{cou_id}
        )
    </select>
    <delete id="deleteMatById">
        delete from material where mat_id=#{mat_id}
    </delete>

    <select id="queryMatPathById" resultType="String">
        select mat_path from material where mat_id=#{mat_id}
    </select>

    <insert id="insertMat" parameterType="lrs.entity.Material" useGeneratedKeys="true" keyColumn="mat_id" keyProperty="mat_id">
        insert into material (mat_name,mat_path,mat_size,mat_date) values(#{mat_name},#{mat_path},#{mat_size},#{mat_date})
    </insert>

</mapper>