<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.StudentMapper">

    <resultMap id="convertStudent" type="lrs.entity.Student">
        <id property="id" column="stu_id"></id>
        <result property="pwd" column="stu_pwd"></result>
        <result property="name" column="stu_name"></result>
        <result property="tel" column="stu_tel"></result>
        <result property="mail" column="stu_mail"></result>
        <result property="pwd" column="stu_pwd"></result>
        <result property="sex" column="stu_sex" javaType="Integer" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="queryStuByIdPwd"  resultMap="convertStudent">
        select stu_id,stu_pwd,stu_name,stu_tel,stu_mail,stu_sex from student where stu_id=#{stu_id} and stu_pwd=#{stu_pwd}
    </select>

    <select id="queryClaIdByStuId" resultType="Integer">
        select cla_id from cla_stu where stu_id=#{stu_id}
    </select>

    <update id="updateStudent" parameterType="lrs.entity.Student">
        update student set stu_tel=#{tel},stu_mail=#{mail},stu_sex=#{sex} where stu_id=#{id}
    </update>

</mapper>