<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.TeacherMapper">
    <resultMap id="convertTeacher" type="lrs.entity.Teacher">
        <id property="id" column="tea_id"></id>
        <result property="pwd" column="tea_pwd"></result>
        <result property="name" column="tea_name"></result>
        <result property="tel" column="tea_tel"></result>
        <result property="mail" column="tea_mail"></result>
        <result property="sex" column="tea_sex" javaType="Integer" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="queryTeaByIdPwd"  resultMap="convertTeacher">
        select tea_id,tea_pwd,tea_name,tea_tel,tea_mail,tea_sex from teacher where tea_id=#{tea_id} and tea_pwd=#{tea_pwd}
    </select>

    <select id="querySchIdByTeaId" resultType="Integer">
        select sch_id from school_tea where tea_id=#{tea_id}
    </select>

    <update id="updateTeacher" parameterType="lrs.entity.Teacher">
        update teacher set tea_tel=#{tel},tea_mail=#{mail},tea_sex=#{sex} where tea_id=#{id}
    </update>

    <update id="updateTeaPwd" parameterType="lrs.entity.Teacher">
        update teacher set tea_pwd=#{pwd} where tea_id=#{id}
    </update>

    <select id="queryTeaNameById" resultType="String">

        select tea_name from teacher where tea_id=#{tea_id}
    </select>

    <delete id="deleteTeaCouByCouId">
        delete from tea_cou where cou_id=#{cou_id}
    </delete>

</mapper>