<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lrs.mapper.VideoMapper">

    <resultMap id="video_map" type="lrs.entity.Video">
        <id property="vid_id" column="vid_id"></id>
        <result property="vid_name" column="vid_name"></result>
    </resultMap>

    <select id="queryVidsByChaId" resultMap="video_map">
        select vid_id,vid_name from video where vid_id in (
            select vid_id from cha_vid where cha_id=#{cha_id}
        )
    </select>

    <select id="queryVidById" resultType="lrs.entity.Video">
        select vid_id,vid_name,vid_path,vid_cover_path,vid_up_date from video where vid_id=#{vid_id}
    </select>

    <insert id="insertVidCom">
        insert into vid_com (vid_id,com_id1) values(#{vid_id},#{com_id})
    </insert>

    <select id="queryVidIdByChaId" resultType="Integer">
        select vid_id from cha_vid where cha_id=#{cha_id}
    </select>

    <select id="queryVidPathByVidId" resultType="String">
        select vid_path from video where vid_id=#{vid_id}
    </select>

    <select id="queryVidCoverPathByVidId" resultType="String">
        select vid_cover_path from video where vid_id=#{vid_id}
    </select>

    <delete id="deleteVidById">
        delete from video where vid_id=#{vid_id}
    </delete>

    <delete id="deleteVidByIdList" parameterType="java.util.List">
        delete from video
        where vid_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteVidComByVidId" parameterType="java.util.List">
        delete from vid_com where vid_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>